*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    display: flex;
    width: 100%;
    height: 640px;
    background-color: #D0F1F2;
}
.left>div{
    text-align: center;
}
.left{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    background-color: #e6f7f8;
    border-radius: 30px;
}
.left>div{
    
    width: 50%;
    padding: 2%;
}
.left h4,.left p{
    color: rgb(13, 139, 223);
    margin: 10px;
    font-size: 120%;
}
.left img{
    border-radius: 50%;
}
.left_links{
 display: flex;
 justify-content: left;
}


.right{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    background-color:#D0F1F2;
}
.right h4,.right p{
    color:grey;
    margin: 5px;
    font-size: 120%;
}
.right_links{
    display: flex;
    justify-content: space-around;
   }
.right_links img{
    border-radius: 25%;
   }
.right h1{
    color:rgb(68, 64, 64);
    margin: 5px;
    font-size: 230%;
}